@(message: String, style: String = "scala")( implicit assetsFinder: AssetsFinder)




<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MYOWN</title>
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/myown.css")">
        <script src="/myown.scala.js"></script>
    </head>
    <body>
        <div class="red">@message</div>
        <div>@routes.MyOwnController.myownData</div>
        @*TODO ici afficher le retour de la route plutot que le path*@
    </body>
</html>
