
@(products: List[model.Product])

<html>
<head>
    <title > produit</title>

    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("javascripts/js/DataTables/datatables.min.css")'/>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/js/DataTables/datatables.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/js/product.js")'></script>
</head>
    <h1>Produit</h1>

    <table id="products">
        <thead>
            <th>Name</th>
            <th>Price</th>
        </thead>
        <tbody>
        @for(value <- products){
            <tr>
                <td>@value.name </td>
                <td>@value.prix </td>
            </tr>
        }
        </tbody>
    </table>
</html>